{% extends 'base.html' %}

{% block title %}
    CDMB
{% endblock %}


{% block sideber_menu %}


    {% url 'asset' as asset %}
    {% url 'department' as department %}
    {% url 'category' as category %}

    {% url 'user' as user %}
    {% url 'user_input' as user_input %}

    {% url 'host' as host %}

    <ul class="nav nav-sidebar">
        <li {% if request.path == user %}class="active"{% endif %}><a href={{ user }}>用戶管理</a></li>

        <li {% if request.path == user_input %}class="active"{% endif %}><a href="{{ user_input }}">匯入</a></li>
        <li><a href="{% url 'user_output' %}" target="_blank">匯出</a></li>

    </ul>


    <ul class="nav nav-sidebar">
        <li {% if request.path == asset %}class="active"{% endif %}><a href={{ asset }}>資產管理</a></li>
        <li {% if request.path == department %}class="active"{% endif %}><a href={{ department }}>部門管理</a></li>
        <li {% if request.path == category %}class="active"{% endif %}><a href={{ category }}>類型管理</a></li>
    </ul>
    <ul class="nav nav-sidebar">

        <li {% if request.path == host %}class="active"{% endif %}><a href={{ host }}>運維管理</a></li>
    </ul>


{% endblock %}


{% block content %}

{% endblock %}


{% block base-js %}

    <script>


        // 提交之後 將所有disabled刪除
        function BeforeFormSubmit(e) {
            $(":disabled").removeAttr("disabled");
        }

        // 生日日期
        $("input[name='birthday']").datepicker(
            {
                language: 'zh-TW',
                format: "yyyy-mm-dd",
                todayHighlight: true,

            });


        // 密碼顯示或隱藏
        function ch_login(e) {

            login_status = $(e).val();
            console.log(login_status);
            if (login_status == 'True') {
                $("#id_pd_status").prop("checked", true);
                $("[name='password1']").closest(".form-group").show();
                $("[name='password2']").closest(".form-group").show();
            } else {
                 $("#id_pd_status").prop("checked", false);
                $("[name='password1']").closest(".form-group").hide();
                $("[name='password2']").closest(".form-group").hide();
                $("#change_passwd").hide()

            }
        }


        // bind button
        $("#submit").on("click", function (e) {
            BeforeFormSubmit(this);
            $("#form").submit();
        });


    </script>



{% endblock %}




