{% extends 'user/base.html' %}
{% load asset_tags %}



{% block head %}
    <!-- CSS -->
    <link href="/static/css/bootstrap-datepicker.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/bootstrap-select.css">



    <!--  JavaScript -->
    <script src="/static/js/bootstrap-datepicker.js"></script>
    <script src="/static/js/bootstrap-datepicker.zh-TW.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/js/bootstrap-select.js"></script>

    <style>
        .col-md-2.col-form-label, .col-md-6.form-group, .col-md-10.form-control-static {
            padding-left: 15px;
        }

        .form-control-static {
            border: 1px solid #ccc;
            border-radius: 4px;
        }


    </style>



{% endblock %}



{% block content %}


    <ol class="breadcrumb">
        <li><a href="{% url 'user' %}">用戶管理</a></li>
        <li class="active">
            {{ userinfo_obj.dent.block_number }}{{ userinfo_obj.code }} {{ userinfo_obj.user.username }}</li>

    </ol>


    <div class="panel panel-default" style="padding: 20px">
        <form method="post" id="userform_add" onsubmit="BeforeFormSubmit()">
            {% csrf_token %}


            <div class="form-group">
                <label> 基本信息</label>
            </div>

            <div class="form-group col-md-6">
                <label class="col-form-label">編號</label>
                <input disabled type="number" name="code" class="form-control" placeholder=""
                       value="{{ userinfo_obj.dent.block_number }}{{ userinfo_obj.code }}">
            </div>


            <div class="col-md-6 form-group">
                <label class="col-form-label">用戶名</label>
                {{ forms_user_obj.username }}
            </div>

            <div class="col-md-6  form-group">
                <label class="col-form-label">姓名</label>
                {{ forms_userproinfo_obj.name }}
            </div>

            <div class="col-md-6 form-group">
                <label class="col-form-label">性別</label>
                {{ forms_userproinfo_obj.sex }}
            </div>


            <div class="col-md-6  form-group">
                <label class="col-form-label">部門</label>
                {{ forms_userproinfo_obj.dent }}
            </div>

            <div class="col-md-6  form-group">
                <label class="col-form-label">生日</label>
                {{ forms_userproinfo_obj.birthday }}
            </div>

            <div class="form-group" style="padding-left:15px;    padding-right: 15px; ">
                <label> 在職狀態</label>
                {{ forms_userproinfo_obj.in_service }}
            </div>


            <div class="form-group">
                <label> 登入功能</label>
            </div>

            <div class="form-inline" style="padding-right: 15px; ">
                <label class="col-md-2  col-form-label">狀態</label>

               {{ forms_user_obj.is_staff }}
            </div>

            <div class="form-inline" style="padding-right: 15px; ">
                <label class="col-md-2  col-form-label">密碼</label>

                {{ forms_user_obj.password1 }}
            </div>


            <div class="form-inline" style="padding-right: 15px; ">
                <label class="col-md-2  col-form-label">確認密碼</label>

                {{ forms_user_obj.password2 }}
            </div>


            <div class="form-group">
                <button id="userform_submit" type="submit" class="btn btn-primary center-block">更改</button>
            </div>


        </form>


    </div>


{% endblock %}





{% block extra-js %}

    <script>
        function BeforeFormSubmit(e) {
            $(":disabled").removeAttr("disabled");
        }


        $("input[name='birthday']").datepicker(
                {
                    language: 'zh-TW',
                    format: "yyyy-mm-dd",
                    todayHighlight: true,

                });

    </script>

{% endblock %}







