{% extends 'user/base.html' %}
{% load asset_tags %}

{% block title %}新增用戶{% endblock %}

{% block head %}
    <!-- CSS -->
    <link href="/static/css/bootstrap-datepicker.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/bootstrap-select.css">



    <!--  JavaScript -->
    <script src="/static/js/bootstrap-datepicker.js"></script>
    <script src="/static/js/bootstrap-datepicker.zh-TW.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/js/bootstrap-select.js"></script>

    <style>
        .col-md-2.col-form-label, .col-md-6.form-group, .col-md-10.form-control-static {
            padding-left: 15px;
        }

        .form-control-static {
            border: 1px solid #ccc;
            border-radius: 4px;
        }


    </style>



{% endblock %}



{% block content %}


    <ol class="breadcrumb">
        <li><a href="{% url 'user' %}">用戶管理</a></li>
        <li class="active">新增用戶</li>

    </ol>


    <div class="panel panel-default" style="padding: 20px">
        <form class="form" id="form">
            {% csrf_token %}


            <div class="form-group">
                <label> 基本信息</label>
            </div>


            <div class="col-md-6  form-group has-feedback">
                {{ forms_userproinfo_obj.dent.label_tag }}
                {{ forms_userproinfo_obj.dent }}
                <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>

            </div>

            <div class="form-group col-md-6 has-feedback">

                {{ forms_userproinfo_obj.code.label_tag }}
                {{ forms_userproinfo_obj.code }}
                <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>

            </div>

            <div class="form-group col-md-6 has-feedback" style="display: none">
                {{ forms_userproinfo_obj.number.label_tag }}
                {{ forms_userproinfo_obj.number }}
                <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>

            </div>


            <div class="col-md-6 form-group has-feedback">
                {{ forms_user_obj.username.label_tag }}
                {{ forms_user_obj.username }}
                <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>

            </div>

            <div class="col-md-6  form-group has-feedback">
                {{ forms_userproinfo_obj.name.label_tag }}
                {{ forms_userproinfo_obj.name }}
                <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>

            </div>

            <div class="col-md-6 form-group has-feedback">
                {{ forms_userproinfo_obj.sex.label_tag }}
                {{ forms_userproinfo_obj.sex }}
                <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>

            </div>


            <div class="col-md-6  form-group has-feedback">
                {{ forms_userproinfo_obj.birthday.label_tag }}
                {{ forms_userproinfo_obj.birthday }}
                <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>

            </div>

            <div class="col-md-12 form-group has-feedback" style="padding-left:15px ">
                {{ forms_userproinfo_obj.in_service.label_tag }}
                {{ forms_userproinfo_obj.in_service }}
                <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>

            </div>


            <div class="form-group">
                <label> 登入功能</label>
                {% if forms_user_obj.instance.is_staff %}
                    <button id="change_passwd" type="button" class="btn btn-success" style="margin-left: 20px">更改密碼
                    </button>
                {% endif %}
            </div>

            <div class="row" style="padding-left: 30px">

                <div class="form-horizontal">

                    <div class="form-group col-md-12 has-feedback">
                        <label class="col-md-2 ">{{ forms_user_obj.is_staff.label }}</label>
                        {{ forms_user_obj.is_staff }}
                        <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>

                    </div>


                    <!-- Text input-->
                    <div class="form-group col-md-12 has-feedback" style="display: none">
                        <label class="col-md-2 ">{{ forms_user_obj.password1.label }}</label>
                        {{ forms_user_obj.password1 }}
                        <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>

                    </div>


                    <!-- Text input-->
                    <div class="form-group col-md-12 has-feedback" style="display: none">
                        <label class="col-md-2 ">{{ forms_user_obj.password2.label }}</label>
                        {{ forms_user_obj.password2 }}
                        <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>

                    </div>

                </div>

            </div>


            <div class="row">
                <div class="form-group">
                    <button id="submit" type="button" class="btn btn-primary center-block">新增</button>

                </div>

            </div>
        </form>

    </div>




    <!--- Modal -->
    <div class="modal fade" id="Modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    是否還需要繼續新增資料
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <a href="{% url 'user' %}" class="btn btn-primary" role="button">返回列表</a>
                    <a href="{% url 'user_add' %}" class="btn btn-success" role="button">繼續新增</a>
                </div>

            </div>
        </div>
    </div>





{% endblock %}





{% block extra-js %}

    <script>
        $(document).ready(function () {

            $("#id_code").keyup(function (e) {
                    code = this.value;
                    $("#id_number").val(code.slice(code.length - 2));
                }
            );

        });


        // 選擇部門後請求該用戶編號
        function get_user_number(e) {
            console.log(e.value);

            $.ajax({
                url: "/api/add_user_number",
                type: "GET",
                data: {'id': e.value},

                success: function (callback) {
                    console.log(callback);

                    if (callback.status == 'ok') {
                        code = callback.data;
                        $("#form [name='code']").val(code);
                        $("#form [name='code']").removeAttr("disabled");
                        $("#id_number").val(code.slice(code.length - 2));
                    }
                    else {
                        console.log("請求錯誤");
                        $("#form [name='code']").val("");
                        $("#form [name='code']").attr("disabled", "disabled");
                    }


                },
                error: function () {
                    console.log("請求錯誤");
                    $("#form [name='code']").val("");
                    $("#form [name='code']").attr("disabled", "disabled");
                }
            });
        };


        // 提交
        $("#form").on("submit", function (e) {

            var postData = $(this).serializeArray();
            console.log(postData);

            $.ajax({
                url: "{% url 'user_add' %}",
                type: "POST",
                data: postData,
                success: function (callback) {
                    console.log(callback);
                    //$('#Modal').modal({backdrop: 'static', keyboard: false});

                    if (callback.status == 'ok') {
                        console.log("ok");

                        $.each(callback.success_fields, function (i, val) {

                            input_tag = $("[name='" + val + "']");
                            div_tag = input_tag.closest("div");
                            div_tag.removeClass("has-error").addClass("has-success");
                            div_tag.find("span").removeClass("glyphicon-remove").addClass("glyphicon-ok");

                        });

                        //$("#Modal").modal('show')


                    } else {
                        console.log("error");
                        $(".modal-title").text(callback.msg);
                        $(".modal-title").css({'color': 'red'});


                        //console.log(callback.errors_fields);
                        //console.log(callback.success_fields);

                        $.each(callback.errors_fields, function (i, val) {

                            input_tag = $("[name='" + val + "']");
                            div_tag = input_tag.closest("div");
                            div_tag.removeClass("has-success").addClass("has-error");
                            div_tag.find("span").removeClass("glyphicon-ok").addClass("glyphicon-remove");


                        });

                        $.each(callback.success_fields, function (i, val) {

                            input_tag = $("[name='" + val + "']");
                            div_tag = input_tag.closest("div");
                            div_tag.removeClass("has-error").addClass("has-success");
                            div_tag.find("span").removeClass("glyphicon-remove").addClass("glyphicon-ok");

                        });


                    }
                }

            });


        });


    </script>

{% endblock %}







