{% extends 'base.html' %}

{% block title %}
    CDMB
{% endblock %}

{% block navbar_left %}

    <li class=""><a href="{% url 'asset' %}">部門資產</a></li>
    <li class="active"><a href="{% url 'host' %}">IT運維</a></li>

{% endblock %}

{% block sideber_menu %}


    {% url 'host' as host %}


    {% url 'host_index' as host_index %}
    {% url 'host_repair' as host_repair %}

    {% url 'host_input' as host_input %}
    {% url 'host_output' as host_output %}

    {% url 'location' as location %}

    {% url 'asset' as asset %}

    <h1>{{ request.path }}</h1>
    <ul class="nav nav-sidebar">

        <ul class="list-group">


            <a href="{{ host }}"
               class="list-group-item {% if request.path == host %}active{% endif %}">
                <span>
                    <i class="fa fa-box"></i> 運維首頁
                </span>
            </a>


            <!-- 資產管理 -->
            <li class="list-group-item">
                <a href="#assetSubmenu" data-toggle="collapse" aria-expanded="false"
                   class="dropdown-toggle collapsed"><span> <i
                        class="fa fa-laptop"></i> 主機管理</span><span style="float:right"><i
                        class="fa fa-angle-right"></i></span></a>

                <ul class="list-unstyled collapse" id="assetSubmenu" style="">


                    <li class="list-group-item"><a href="{{ host_index }}"
                                                   {% if request.path == host_index %}active{% endif %}">
                        <span>
                        <i class="fa fa-box"></i> 主機列表
                    </span>
                        </a>
                    </li>

                    <a href="{{ host_repair }}"
                       class="list-group-item {% if request.path == host_repair %}active{% endif %}">
                    <span>
                        <i class="fa fa-box"></i> 電腦維修紀錄表
                    </span>
                    </a>


                    <a href="{{ host_input }}"
                       class="list-group-item {% if request.path == host_input %}active{% endif %}">
                    <span>
                        <i class="fa fa-box"></i> 匯入
                    </span>
                    </a>


                    <li><a href="{% url 'host_output' %}" target="_blank">匯出</a></li>
                </ul>
            </li>


            <a href="{{ location }}"
               class="list-group-item {% if request.path == location %}active{% endif %}">
                <span>
                    <i class="fa fa-box"></i> 位置列表
                </span>
            </a>

        </ul>


    </ul>




{% endblock %}


{% block content %}



{% endblock %}


{% block base-js %}

    <script>


    </script>
{% endblock %}


