{% extends 'base.html' %}

{% block title %}
    CDMB
{% endblock %}



{% block sideber_menu %}


    {% url 'host' as host %}
    {% url 'host_input' as host_input %}
    {% url 'host_output' as host_output %}

    {% url 'location' as location %}

    {% url 'asset' as asset %}


    <ul class="nav nav-sidebar">




        <li>
            <a href="#hostSubmenu" data-toggle="collapse" aria-expanded="false"
               class="dropdown-toggle collapsed">
                <span>主機管理</span>
                <span style="float:right"><i class="fa fa-angle-right"></i></span></a>

            <ul class="list-unstyled collapse" id="hostSubmenu" style="">
                <li {% if request.path == host %}class="active"{% endif %}><a href={{ host }}>主機列表</a></li>
                <li {% if request.path == host_input %}class="active"{% endif %}><a href={{ host_input }}>匯入</a></li>
                <li {% if request.path == host_output %}class="active"{% endif %}><a href={{ host_output }}>匯出</a></li>
            </ul>
        </li>

    </ul>

    <ul class="nav nav-sidebar">
        <li {% if request.path == location %}class="active"{% endif %}><a href={{ location }}>位置列表</a></li>
        <!---
        <li><a href='#'>IP電話管理</a></li>
        <li><a href='#'>交換器管理</a></li>
        <li><a href='#'>CCTV管理</a></li>-->
    </ul>


    <ul class="nav nav-sidebar">
        <li {% if request.path == asset %}class="active"{% endif %}><a href={{ asset }}>資產管理</a></li>

    </ul>



{% endblock %}


{% block content %}



{% endblock %}


{% block base-js %}

    <script>


    </script>
{% endblock %}


