{% extends 'host/base.html' %}
{% load asset_tags %}


{% block title %}運維首頁{% endblock %}

{% block head %}
    <!-- CSS -->
    <link href="/static/css/bootstrap-datepicker.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/bootstrap-select.css">

    <!--  JavaScript -->
    <script src="/static/js/bootstrap-datepicker.js"></script>
    <script src="/static/js/bootstrap-datepicker.zh-TW.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/js/bootstrap-select.js"></script>



{% endblock %}



{% block content %}




    <ol class="breadcrumb">
        <li><a href="#">運維首頁</a></li>


    </ol>

    <div class="panel panel-default" style="padding: 20px">


    </div>

    {% csrf_token %}

{% endblock %}




{% block extra-js %}

    <script>




    </script>

{% endblock %}

