{% extends 'host/base.html' %}
{% load asset_tags %}


{% block title %}主機列表{% endblock %}

{% block head %}


{% endblock %}



{% block content %}



    <ol class="breadcrumb">
        <li><a href="{% url 'host' %}">主機列表 </a></li>
        <li class="active">{{ host_obj.name }}</li>

    </ol>

    <ul id="myTab" class="nav nav-tabs">
        <li class="active">
            <a href="#tab_host" data-toggle="tab">
                硬件信息
            </a>
        </li>

        <li>
            <a href="#tab_record" data-toggle="tab">
                變更紀錄
            </a>
        </li>

        <li>
            <a href="#tab_repair" data-toggle="tab">
                維修紀錄
            </a>
        </li>


    </ul>



    <div class="" style="padding: 20px">


        <div id="myTabContent" class="tab-content">


            <div class="tab-pane fade in active" id="tab_host">

                <div class="form-group">
                    <label>主機信息&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-plus" data-toggle="collapse"
                                                          data-target="#host"></i>
                    </label>
                </div>

                <div id="host" class="row collapse" style="padding-left: 15px">


                    <div class="col-md-6 form-group">
                        {{ host_form_obj.asset.label_tag }}
                        {{ host_form_obj.asset }}
                    </div>


                    <div class="col-md-6 form-group">
                        {{ host_form_obj.sn.label_tag }}
                        {{ host_form_obj.sn }}
                    </div>


                    <div class="col-md-6 form-group">
                        {{ host_form_obj.manage_ip.label_tag }}
                        {{ host_form_obj.manage_ip }}
                    </div>

                    <div class="col-md-6 form-group">
                        {{ host_form_obj.location.label_tag }}
                        {{ host_form_obj.location }}
                    </div>

                    <div class="col-md-6 form-group">
                        {{ host_form_obj.manufacturer.label_tag }}
                        {{ host_form_obj.manufacturer }}
                    </div>
                    <div class="col-md-6 form-group">
                        {{ host_form_obj.model.label_tag }}
                        {{ host_form_obj.model }}
                    </div>


                    <div class="col-md-6 form-group">
                        {{ host_form_obj.os_platform.label_tag }}
                        {{ host_form_obj.os_platform }}
                    </div>
                    <div class="col-md-6 form-group">
                        {{ host_form_obj.os_version.label_tag }}
                        {{ host_form_obj.os_version }}
                    </div>


                    <div class="col-md-4 form-group">
                        {{ host_form_obj.cpu_count.label_tag }}
                        {{ host_form_obj.cpu_count }}
                    </div>
                    <div class="col-md-4 form-group">
                        {{ host_form_obj.cpu_physical_count.label_tag }}
                        {{ host_form_obj.cpu_physical_count }}
                    </div>
                    <div class="col-md-4 form-group">
                        {{ host_form_obj.cpu_model.label_tag }}
                        {{ host_form_obj.cpu_model }}
                    </div>

                </div>


                <div class="form-group">
                    <label> 網卡信息&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-plus" data-toggle="collapse"
                                                           data-target="#nic"></i></label>
                </div>

                <div id="nic" class="row collapse" style="padding-left: 15px">


                    {% for nicform in nic_forms_obj %}
                        <div class="col-md-3 form-group">
                            {{ nicform.model.label_tag }}
                            {{ nicform.model }}
                        </div>

                        <div class="col-md-3 form-group">
                            {{ nicform.ipaddress.label_tag }}
                            {{ nicform.ipaddress }}
                        </div>


                        <div class="col-md-3 form-group">
                            {{ nicform.macaddress.label_tag }}
                            {{ nicform.macaddress }}
                        </div>

                        <div class="col-md-3 form-group">
                            {{ nicform.netmask.label_tag }}
                            {{ nicform.netmask }}
                        </div>



                    {% endfor %}

                </div>


                <div class="form-group">
                    <label> 硬盤信息&nbsp;&nbsp;&nbsp;&nbsp;<i id='i_disk' class="fa fa-plus" data-toggle="collapse"
                                                           data-target="#disk"></i></label>
                </div>

                <div id="disk" class="row collapse" style="padding-left: 15px">

                    {% for dickform in disk_forms_obj %}

                        <div class="col-md-3 form-group">
                            {{ dickform.sn.label_tag }}
                            {{ dickform.sn }}
                        </div>

                        <div class="col-md-3 form-group">
                            {{ dickform.model.label_tag }}
                            {{ dickform.model }}
                        </div>

                        <div class="col-md-3 form-group">
                            {{ dickform.capacity.label_tag }}
                            {{ dickform.capacity }}

                        </div>

                        <div class="col-md-3 form-group">
                            {{ dickform.slot.label_tag }}
                            {{ dickform.slot }}
                        </div>

                    {% endfor %}

                </div>


                <div class="form-group">
                    <label> 內存信息&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-plus" data-toggle="collapse"
                                                           data-target="#mem"></i></label>
                </div>
                <div id="mem" class="row collapse" style="padding-left: 15px">

                    {% for memform in mem_forms_obj %}

                        <div class="col-md-3 form-group">
                            {{ memform.sn.label_tag }}
                            {{ memform.sn }}
                        </div>

                        <div class="col-md-3 form-group">
                            {{ memform.model.label_tag }}
                            {{ memform.model }}
                        </div>

                        <div class="col-md-3 form-group">
                            {{ memform.capacity.label_tag }}
                            {{ memform.capacity }}

                        </div>

                        <div class="col-md-3 form-group">
                            {{ memform.slot.label_tag }}
                            {{ memform.slot }}
                        </div>

                    {% endfor %}

                </div>
            </div>


            <div class="tab-pane" id="tab_record">


                {% for assset_record in asset_record_obj %}

                    <div class="well">
                        <div class="media">
                            <a class="pull-left" href="#">

                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">{{ assset_record.create_date|date:'Y/m/d' }}</h4>
                                <p class="text-right">{{ assset_record.get_assetrecord_type_id_display }}</p>
                                <p>{{ assset_record.summary }}</p>

                            </div>
                        </div>
                    </div>

                {% endfor %}


            </div>

            <div class="tab-pane" id="tab_repair">


                {% for asset_repair in asset_repair_obj %}
                    <div class="well" >
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" height="150" width="150"
                                     src="http://2.bp.blogspot.com/-U77ROceRfZ4/VBZUKz_wccI/AAAAAAAAAL8/CHcrtv2dIcQ/s1600/187785.jpeg">
                            </a>
                            <div class="media-body" style="margin-bottom: 20px">
                                <h3 class="media-heading">
                                    {{ asset_repair.title }}
                                    <span class="badge badge-secondary">{{ asset_repair.status|yesno:'已處理,跟進中,None' }}</span>
                                </h3>
                                <p class="text-left"><span><i
                                        style="color: black"
                                        class="far fa-user"></i>{{ asset_repair.creator.code }}</span></p>
                                <p>{{ asset_repair.summary }}</p>
                                <p>{{ asset_repair.summary }}</p>

                                <ul class="list-inline list-unstyled">


                                    <li><span><i
                                            class="glyphicon glyphicon-calendar"></i> {{ asset_repair.create_date |date:"Y/m/d" }} </span>
                                    </li>
                                    <li>|</li>
                                    <li><span><i class="glyphicon glyphicon-wrench"></i>
                                        {% for re in asset_repair_detail %}
                                            {{ re.user.code }}
                                        {% endfor %}
                                    </span></li>

                                    <li>|</li>
                                    <span><i class="glyphicon glyphicon-comment"></i> {{ asset_repair_detail|length }} comments</span>


                                </ul>




                            </div>

                            {% for ass_re in asset_repair_detail %}
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <strong>{{ ass_re.user.code }}</strong>
                                    </div>
                                    <div class="panel-body">
                                     {{ ass_re.content }}
                                        <p
                                            class="text-right">{{ ass_re.create_date|date:'Y/m/d' }}</p>
                                    </div><!-- /panel-body -->
                                </div><!-- /panel panel-default -->


                            {% endfor %}

                        </div>
                    </div>

                    </div>
                {% endfor %}


        </div>


    </div>
{% endblock %}


{% block extra-js %}




    <script>

        var inputs = $("input");
        $.each(inputs, function (i, obj) {
            console.log(obj);
            $(obj).attr('type', 'text');
        });


        function icon_minus() {
            $(this).prev().find('svg').attr('data-icon', 'minus')
        }

        function icon_plus() {
            $(this).prev().find('svg').attr('data-icon', 'plus')
        }

        $('#host').on('shown.bs.collapse', icon_minus);
        $('#host').on('hidden.bs.collapse', icon_plus);
        $('#mem').on('shown.bs.collapse', icon_minus);
        $('#mem').on('hidden.bs.collapse', icon_plus);
        $('#disk').on('shown.bs.collapse', icon_minus);
        $('#disk').on('hidden.bs.collapse', icon_plus);
        $('#nic').on('shown.bs.collapse', icon_minus);
        $('#nic').on('hidden.bs.collapse', icon_plus);


        $(document).ready(function () {
            $('#host').collapse();
        });


    </script>

{% endblock %}
