{% extends 'asset/base.html' %}

{% block title %}
    CDMB
{% endblock %}


{% block sideber_menu %}


    {% url 'department' as department %}
    {% url 'department_input' as department_input %}


    {% url 'asset' as asset %}
    {% url 'category' as category %}

    {% url 'host' as host %}
    {% url 'user' as user %}


    <ul class="nav nav-sidebar">

        <li {% if request.path == department %}class="active"{% endif %}><a href={{ department }}>部門管理</a></li>
        <li {% if request.path == department_input %}class="active"{% endif %}><a href="{{ department_input }}">匯入</a></li>
        <li><a href="{% url 'department_output' %}" target="_blank">匯出</a></li>

    </ul>

    <ul class="nav nav-sidebar">


        <li {% if request.path == asset %}class="active"{% endif %}><a href={{ asset }}>資產管理</a></li>
        <li {% if request.path == user %}class="active"{% endif %}><a href={{ user }}>用戶管理</a></li>
        <li {% if request.path == category %}class="active"{% endif %}><a href={{ category }}>類型管理</a></li>

    </ul>


    <ul class="nav nav-sidebar">

        <li {% if request.path == host %}class="active"{% endif %}><a href={{ host }}>運維管理</a></li>

    </ul>



{% endblock %}


{% block content %}



{% endblock %}
