{% extends 'asset/base.html' %}
{% load asset_tags %}

{% block title %}更改資產{% endblock %}

{% block head %}
    <!-- CSS -->
    <link href="/static/css/bootstrap-datepicker.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/bootstrap-select.css">

    <!--  JavaScript -->
    <script src="/static/js/bootstrap-datepicker.js"></script>
    <script src="/static/js/bootstrap-datepicker.zh-TW.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/js/bootstrap-select.js"></script>

    <style>
        .col-md-2.col-form-label, .col-md-6.form-group, .col-md-10.form-control-static {
            padding-left: 15px;
        }

        .form-control-static {
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .modal-dialog {

            width: 600px;
            left: 50%;
            top: 50%;
            margin-top: -134.5px;
            margin-left: -250px;

        }
    </style>



{% endblock %}



{% block content %}

    <ol class="breadcrumb">
        <li><a href="{% url 'asset' %}">資產管理</a></li>
        <li class="active">{{ asset_obj.name }}</li>
    </ol>




    <div class="panel panel-default" style="padding: 20px">
        <form role="form" method="post" id="form">
            {% csrf_token %}


            <!-- 錯誤提示-->
            <div class="alert" style="display: none">
                <strong></strong>
            </div>


            <div class="form-group">
                <label> 基本信息</label>


            </div>

            <div class="row" style="padding-left: 15px">

                {{ forms_obj.name }}

                <div class="col-md-6 form-group has-feedback">
                    {{ forms_obj.category.label_tag }}
                    {{ forms_obj.category }}
                    <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>

                </div>

                <div class="col-md-6 form-group has-feedback">
                    {{ forms_obj.number.label_tag }}
                    {{ forms_obj.number }}
                    <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>
                </div>


                <div class="col-md-6 form-group has-feedback">
                    {{ forms_obj.purchase_date.label_tag }}
                    {{ forms_obj.purchase_date }}
                    <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>
                </div>

                <div class="col-md-6 form-group has-feedback">
                    {{ forms_obj.price.label_tag }}
                    {{ forms_obj.price }}
                    <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>
                </div>


            </div>


            <div class="form-group">
                <label> 使用狀態</label>
            </div>


            <div class="row" style="padding-left: 15px">


                <div class="col-md-12 form-group has-feedback">
                    {{ forms_obj.status.label_tag }}
                    {{ forms_obj.status }}
                    <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>
                </div>

                <div class="col-md-6 form-group has-feedback">
                    {{ forms_obj.department.label_tag }}
                    {{ forms_obj.department }}
                    <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>
                </div>


                <div class="col-md-6 form-group has-feedback">
                    {{ forms_obj.manager.label_tag }}
                    {{ forms_obj.manager }}
                    <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>
                </div>


            </div>

            <div class="row">

                <div class="form-group">
                    <button id="submit" type="button" class="btn btn-primary center-block">更改</button>
                </div>
            </div>

        </form>

    </div>








    <!--- 新增完成 表單-->
    <div class="modal fade" id="Modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">修改成功</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    是否還需要繼續修改資料
                </div>

                <!-- Modal footer -->
                <div class="modal-footer" >
                    <a href="{% url 'asset' %}" class="btn btn-primary" role="button">返回列表</a>
                    <a href="{% url 'asset_edit' pk %}" class="btn btn-success" role="button">繼續修改</a>
                </div>

            </div>
        </div>
    </div>







{% endblock %}





{% block extra-js %}

    <script>


        // 提交之後 將所有disabled刪除
        function BeforeFormSubmit(e) {
            $(":disabled").removeAttr("disabled");
        }



        // bind button
        $("#submit").on("click", function (e) {
            BeforeFormSubmit(this);
            $("#form").submit();
        });

        // 提交 新增資產表單
        $("#form").on("submit", function (e) {

            var postData = $(this).serializeArray();
            console.log(postData);

            $.ajax({
                url: "{% url 'asset_edit' pk %}",
                type: "POST",
                data: postData,
                success: function (callback) {
                    console.log(callback);
                    $('#Modal').modal({backdrop: 'static', keyboard: false});

                    if (callback.status == 'ok') {
                        console.log("ok");
                        $(".alert").show();
                        $(".alert strong").text(callback.msg);
                        $(".alert").addClass("alert-success").removeClass("alert-danger");


                        $.each(callback.success_fields, function (i, val) {

                            input_tag = $("[name='" + val + "']");
                            div_tag = input_tag.closest("div");
                            div_tag.removeClass("has-error").addClass("has-success");
                            div_tag.find("span").removeClass("glyphicon-remove").addClass("glyphicon-ok");

                        });

                        $("#Modal").modal('show')


                    } else {
                        console.log("error");
                        $(".alert").show();
                        $(".alert").addClass("alert-danger");
                        $(".alert strong").text(callback.msg);


                        console.log(callback.errors_fields);
                        console.log(callback.success_fields);

                        $.each(callback.errors_fields, function (i, val) {

                            input_tag = $("[name='" + val + "']");
                            div_tag = input_tag.closest("div");
                            div_tag.removeClass("has-success").addClass("has-error");
                            div_tag.find("span").removeClass("glyphicon-ok").addClass("glyphicon-remove");


                        });

                        $.each(callback.success_fields, function (i, val) {

                            input_tag = $("[name='" + val + "']");
                            div_tag = input_tag.closest("div");
                            div_tag.removeClass("has-error").addClass("has-success");
                            div_tag.find("span").removeClass("glyphicon-remove").addClass("glyphicon-ok");

                        });


                    }
                }

            });

        });


    </script>

{% endblock %}







