{% extends 'asset/base.html' %}
{% load asset_tags %}

{% block title %}更改資產{% endblock %}

{% block head %}
    <!-- CSS -->
    <link href="/static/css/bootstrap-datepicker.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/bootstrap-select.css">

    <!--  JavaScript -->
    <script src="/static/js/bootstrap-datepicker.js"></script>
    <script src="/static/js/bootstrap-datepicker.zh-TW.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/static/js/bootstrap-select.js"></script>

    <style>
        .col-md-2.col-form-label, .col-md-6.form-group, .col-md-10.form-control-static {
            padding-left: 15px;
        }

        .form-control-static {
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    </style>



{% endblock %}



{% block content %}

    <ol class="breadcrumb">
        <li><a href="{% url 'asset' %}">資產管理</a></li>
        <li class="active">更改資產</li>
    </ol>




    <div class="panel panel-default" style="padding: 20px">
        <form role="form" method="post" id="form">
            {% csrf_token %}


            <!-- 錯誤提示-->
            <div class="alert" style="display: none">
                <strong></strong>
            </div>


            <div class="form-group">
                <label> 基本信息</label>


            </div>

            <div class="row" style="padding-left: 15px">

                <div class="col-md-6 form-group has-feedback">
                    {{ forms_obj.category.label_tag }}
                    {{ forms_obj.category }}
                    <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>

                </div>

                <div class="col-md-6 form-group has-feedback">
                    {{ forms_obj.sn.label_tag }}
                    {{ forms_obj.sn }}
                    <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>
                </div>


                <div class="col-md-6 form-group has-feedback">
                    {{ forms_obj.purchase_date.label_tag }}
                    {{ forms_obj.purchase_date }}
                    <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>
                </div>

                <div class="col-md-6 form-group has-feedback">
                    {{ forms_obj.price.label_tag }}
                    {{ forms_obj.price }}
                    <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>
                </div>


            </div>


            <div class="form-group">
                <label> 使用狀態</label>
            </div>

            <div class="row" style="padding-left: 15px">


                <div class="col-md-12 form-group has-feedback">
                    {{ forms_obj.status.label_tag }}
                    {{ forms_obj.status }}
                    <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>
                </div>

                <div class="col-md-6 form-group has-feedback">
                    {{ forms_obj.department.label_tag }}
                    {{ forms_obj.department }}
                    <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>
                </div>


                <div class="col-md-6 form-group has-feedback">
                    {{ forms_obj.manager.label_tag }}
                    {{ forms_obj.manager }}
                    <span class="glyphicon form-control-feedback" style="margin-right: 15px;"></span>
                </div>


            </div>

            <div class="row">

                <div class="form-group">
                    <button id="submit" type="button" class="btn btn-primary center-block">更改</button>
                </div>
            </div>

        </form>

    </div>





    <!--- 新增完成 表單-->
    <div class="modal fade" id="Modal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">修改成功</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    是否還需要繼續修改資料
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <a href="{% url 'asset' %}" class="btn btn-primary" role="button">返回列表</a>
                    <a href="{% url 'asset_edit' pk %}" class="btn btn-success" role="button">繼續修改</a>
                    {#                    <button type="button" class="btn btn-success" data-dismiss="modal">繼續修改</button>#}
                </div>

            </div>
        </div>
    </div>







{% endblock %}





{% block extra-js %}

    <script>


        $("#id_manager").find('option')
            .remove()
            .end()
            .append('<option value="">--------</option>')
            .val('')
        ;


        function BeforeFormSubmit(e) {
            $(":disabled").removeAttr("disabled");
        }


        $('#id_purchase_date').datepicker(
            {
                language: 'zh-TW',
                format: "yyyy-mm-dd",
                todayHighlight: true,

            });


        // 選擇類型後請求該分類數量
        function get_category(e) {
            //console.log(e);
            //console.log($(this));
            //console.log(e.value);

            $.ajax({
                url: "/api/category",
                type: "GET",
                data: {'cate': e.value},

                success: function (callback) {
                    //console.log(callback);
                    $("input[name='sn']").removeAttr("disabled");
                    $("input[name='sn']").val(callback.number);
                },
                error: function () {
                }
            });

        };


        // 選擇部門後請求關聯使用資料
        function get_dent_user(e) {
            //console.log(e);
            //console.log($(this));
            //console.log(e.value);

            $.ajax({
                url: "/api/dent_user",
                type: "GET",
                data: {'dent': e.value},
                async: false,

                success: function (callback) {
                    window.dent_user = {
                        'status': 'ok',
                        'data': callback
                    };
                    console.log(window.dent_user);
                },
                error: function () {

                }
            });
        };


        // 新增資產 關聯用戶
        function add_assetform_user(e) {
            get_dent_user(e);
            dent_user = window.dent_user;
            //console.log(dent_user);
            if (dent_user.status == 'ok') {
                // 解開#user_add select選項 disabled
                $("#id_manager").removeAttr("disabled");

                console.log('add_assetform_user');

                $("#id_manager").find('option')
                    .remove()
                    .end()
                    .append('<option value="">--------</option>')
                    .val('')
                ;

                users = dent_user.data.users;
                owner = dent_user.data.owner;

                console.log(owner);
                if (owner) {
                    $("#id_manager").append($('<option>', {
                        value: owner.id,
                        text: owner.user + "(" + owner.code + ")",
                        selected: true,
                    }));
                }


                $.each(users, function (i, item) {
                        //console.log(item);

                        if (item.code == owner.code) {
                            //console.log(item.code);
                            //console.log(owner.code);

                            $("#id_manager").append($('<option>', {
                                value: item.id,
                                text: item.user + "(" + item.code + ")",
                                selected: true,
                            }));
                        }
                        else {

                            $("#id_manager").append($('<option>', {
                                value: item.id,
                                text: item.user + "(" + item.code + ")"
                            }));
                        }
                    }
                );
            }

        }


        // 檢查狀態
        function ch_status_ele(e) {

            if (e.value == "使用中") {
                $("#id_department").removeAttr("disabled").val("");
                $("#id_manager").removeAttr("disabled").val("");


            } else {
                $("#id_department").attr("disabled", "disabled").val("");
                $("#id_manager").attr("disabled", "disabled").val("");

            }

        }


        // bind button
        $("#submit").on("click", function (e) {
            $("#form").submit();
        });

        // 提交 新增資產表單
        $("#form").on("submit", function (e) {

            var postData = $(this).serializeArray();
            console.log(postData);

            $.ajax({
                url: "{% url 'asset_edit' pk %}",
                type: "POST",
                data: postData,
                success: function (callback) {
                    console.log(callback);

                    if (callback.status == 'ok') {
                        console.log("ok");
                        $(".alert").show();
                        $(".alert strong").text(callback.msg);
                        $(".alert").addClass("alert-success").removeClass("alert-danger");


                        $.each(callback.success_fields, function (i, val) {

                            input_tag = $("[name='" + val + "']");
                            div_tag = input_tag.closest("div");
                            div_tag.removeClass("has-error").addClass("has-success");
                            div_tag.find("span").removeClass("glyphicon-remove").addClass("glyphicon-ok");

                        });

                        $("#Modal").modal('show')


                    } else {
                        console.log("error");
                        $(".alert").show();
                        $(".alert").addClass("alert-danger");
                        $(".alert strong").text(callback.msg);


                        console.log(callback.errors_fields);
                        console.log(callback.success_fields);

                        $.each(callback.errors_fields, function (i, val) {

                            input_tag = $("[name='" + val + "']");
                            div_tag = input_tag.closest("div");
                            div_tag.removeClass("has-success").addClass("has-error");
                            div_tag.find("span").removeClass("glyphicon-ok").addClass("glyphicon-remove");


                        });

                        $.each(callback.success_fields, function (i, val) {

                            input_tag = $("[name='" + val + "']");
                            div_tag = input_tag.closest("div");
                            div_tag.removeClass("has-error").addClass("has-success");
                            div_tag.find("span").removeClass("glyphicon-remove").addClass("glyphicon-ok");

                        });


                    }
                }

            });

        });


    </script>

{% endblock %}







