{% extends 'base.html' %}

{% block title %}
    CDMB
{% endblock %}


{% block sideber_menu %}


    <ul class="nav nav-sidebar">

        <li class="active"><a href="/asset/index">資產管理</a></li>
        <li><a href="/asset/department">部門</a></li>
        <li><a href="/asset/category">類型</a></li>

    </ul>

    <ul class="nav nav-sidebar">
        <li><a href="/host/index">運維管理</a></li>
        <li><a href="/asset/user">用戶管理</a></li>
    </ul>



{% endblock %}


{% block content %}



{% endblock %}
