{% extends 'asset/base.html' %}






{% block content %}


    <h2 class="sub-header">部門</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>名稱</th>
                <th>代號</th>


            </tr>
            </thead>
            <tbody>
            {% for department in department_obj %}

                <tr>
                    <td>{{ department.name}}</td>
                    <td>{{ department.code }}</td>

                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>


{% endblock %}
