{% extends 'asset/base.html' %}






{% block content %}


    <h2 class="sub-header">部門</h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>名稱</th>
                <th>簡稱</th>
                <th>工/代號</th>
                <th>工/代號長度</th>
                <th>負責人</th>


            </tr>
            </thead>
            <tbody>
            {% for department in department_obj %}

                <tr>
                    <td>{{ department.id}}</td>
                    <td>{{ department.name}}部</td>
                    <td>{{ department.code }}</td>
                    <td>{{ department.block_number }}</td>
                    <td>{{ department.block_number_len }}</td>
                    <td>{{ department.user }}</td>

                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>


{% endblock %}
