{% extends 'asset/base.html' %}




{% block content %}

    <ol class="breadcrumb">
        <li><a href="#">資產管理</a></li>

    </ol>


    <div class="panel panel-default" style="padding: 20px">

        <div class="row">

            <div class="col-md-4">

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#assetform_add_Modal">
                    新增資產
                </button>


            </div>


            <div class="col-md-8" style="text-align: right">
                <form class="form-inline" method="get">

                    <div class="form-group">
                        <label for="inputsearch" class="col-form-label">搜尋</label>
                        <input type="" class="" id="search" placeholder="">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label">類型</label>
                        <select class="form-control">
                            <option>-------</option>
                            {% for category in category_obj %}
                                <option value="{{ category.id }}">{{ category.name }}({{ category.code }})</option>
                            {% endfor %}
                        </select>
                    </div>


                    <div class="form-group">
                        <label class="col-form-label">部門</label>
                        <select class="form-control">
                            <option>-------</option>
                            {% for department in department_obj %}
                                <option value="{{ department.id }}">{{ department.name }}部({{ department.code }})</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-success" style="margin-left: 20px">Submit</button>
                    </div>

                </form>
            </div>
        </div>


        <table class="table">
            <thead>
            <tr>
                <th>資產編號</th>
                <th>類型</th>
                <th>部門</th>
                <th>負責人</th>
                <th>購買日期</th>
                <th>價格</th>
                <th>操作</th>


            </tr>
            </thead>
            <tbody>
            {% for asset in asset_obj %}

                <tr>
                    <td>{{ asset.category.code }}-{{ asset.sn }}</td>
                    <td>{{ asset.category }}</td>
                    <td>{{ asset.department }}</td>
                    <td>{{ asset.manager }}</td>
                    <td>{{ asset.create_date|date:"Y-m-d" }}</td>
                    <td>{{ asset.price }}</td>
                    <td>
                        <i class="fas fa-pen"></i>
                        <i class="fas fa-trash-alt"></i>
                    </td>
                </tr>
            {% endfor %}


            </tbody>
        </table>

    </div>

    <div class="modal fade" id="assetform_add_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>

                    <h4 class="modal-title" id="myModalLabel">新增資產</h4>
                </div>
                <div class="modal-body">
                    <form method="post" id="assetform_add">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="">類型</label>
                            <select name="category" onchange="get_category(this)" class="form-control">
                                <option value="">-------</option>
                                {% for category in category_obj %}
                                    <option
                                            value="{{ category.id }}">{{ category.name }}({{ category.code }})
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="">資產編號</label>
                            <input type="text" name="sn" class="form-control" placeholder="">
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">部門</label>
                            <select name="dent_user" onchange="get_dent_user(this)" class="form-control">
                                <option>-------</option>
                                {% for department in department_obj %}
                                    <option name="department"
                                            value="{{ department.id }}">{{ department.name }}部({{ department.code }})
                                    </option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">資產負責人</label>
                            <select id='user_select' name="user" class="form-control">
                                <option value="">-------</option>
                                {#                                {% for user in user_obj %}#}
                                {#                                    <option value="{{ user.id }}">{{ user.name }}({{ user.dent.block_number }}{{ user.code }})</option>#}
                                {#                                {% endfor %}#}
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">價格</label>
                            <input name="price" type="number" class="form-control">
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="assetform_submit" type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>




{% endblock %}


{% block extra-js %}

    <script>


        $(document).ready(function () {
            $('.dropdown-toggle').dropdown()
        });

        $('#myModal').on('hidden.bs.modal', function (e) {
            // do something...
        });


        $('#assetform_add_Modal').on('show.bs.modal', function (e) {
            $("#assetform_add").trigger('reset');
        });


        // 選擇類型後請求該分類數量
        function get_category(e) {
            //console.log(e);
            //console.log($(this));
            //console.log(e.value);

            $.ajax({
                url: "/api/category",
                type: "GET",
                data: {'cate': e.value},

                success: function (callback) {
                    //console.log(callback);
                    $('#assetform_add_Modal').find("[name='sn']").val(callback.number)
                },
                error: function () {
                }
            });
        };

        // 選擇類型後請求該分類數量
        function get_dent_user(e) {
            //console.log(e);
            //console.log($(this));
            //console.log(e.value);

            $.ajax({
                url: "/api/dent_user",
                type: "GET",
                data: {'dent': e.value},

                success: function (callback) {
                    console.log(callback);


                    document.getElementById("user_select").options.length = 1;
                    users = callback.users;
                    owner = callback.owner;
                    $.each(users, function (i, item) {
                            //console.log(item);

                            if (item.code == owner.code) {
                                console.log(item.code);
                                console.log(owner.code);

                                $('#user_select').append($('<option>', {
                                    value: item.code,
                                    text: item.user + "(" + item.code + ")",
                                    selected:true,
                                }));
                            } else {

                                $('#user_select').append($('<option>', {
                                    value: item.code,
                                    text: item.user + "(" + item.code + ")"
                                }));
                            }
                        }
                    );


                },
                error: function () {

                }
            });
        };


        // 提交 新增資產表單
        $("#assetform_add").on("submit", function (e) {
            //console.log(e);
            //console.log($(this));
            var postData = $(this).serializeArray();
            console.log(postData);

            $.ajax({
                url: "",
                type: "POST",
                data: postData,
                success: function (callback) {
                    console.log(callback);
                    $('#assetform_add_Modal').modal('hide')
                },
                error: function () {

                }
            });
            e.preventDefault();
        });

        $("#assetform_submit").on('click', function () {

            $("#assetform_add").submit();
        });


    </script>

{% endblock %}


